In [15]:
import numpy as np
import pandas as pd
from datetime import datetime
%matplotlib inline

In [28]:
def parse_timestamp(x):
    date, time = x.split(" ")
    dates = date.split("/")
    times = time.split(":")
    return pd.to_datetime(datetime(int(dates[2]), int(dates[1]), int(dates[0]), int(times[0]), int(times[1])))
    
    
df = pd.read_csv("data/coffees.csv")
df.loc[2, "Coffees"] = np.nan
df["timestamp"] = df.Timestamp.apply(parse_timestamp)

# Random dropout
idx = list(np.random.randint(0, len(df), 12))
for i in idx:
    df.loc[i, "Coffees"] = np.nan

In [35]:
df = df[["timestamp", "Coffees", "Name"]]
df.Coffees = df.Coffees.apply(lambda x: int(x) if np.isfinite(x) else np.nan)

In [51]:
df.Name = df.Name.apply(lambda x: "Anthony" if x == "Ant" else x)
df.loc[2, "Coffees"] = "439."
df.sort_values("timestamp")

              timestamp Coffees     Name
0   2011-10-03 08:22:00     397  Quentin
1   2011-10-04 11:48:00     410  Quentin
2   2011-10-05 07:02:00    439.  Anthony
3   2011-10-05 08:25:00     444  Quentin
4   2011-10-05 10:47:00     464  Quentin
5   2011-10-05 13:15:00     481  Quentin
6   2011-10-06 07:21:00     503  Anthony
7   2011-10-06 10:04:00     513  Quentin
8   2011-10-06 12:14:00     539     Mike
9   2011-10-06 12:49:00     540  Quentin
10  2011-10-06 14:52:00     563      Ben
11  2011-10-07 07:34:00     581  Anthony
12  2011-10-07 08:37:00     587  Quentin
13  2011-10-07 11:09:00     605  Quentin
14  2011-10-07 13:14:00     616     Mike
15  2011-10-07 14:10:00     NaN      Ben
16  2011-10-07 15:20:00     626   Mike M
17  2011-10-07 16:50:00     635   Mike M
18  2011-10-09 16:53:00     650     Colm
19  2011-10-10 07:29:00     656  Anthony
20  2011-10-10 10:13:00     673  Quentin
21  2011-10-10 13:41:00     694   Mike M
22  2011-10-10 14:02:00     699  Quentin
23  2011-10-10 15:23:00     713  Quentin
24  2011-10-11 14:09:00     770   Mike M
25  2011-10-12 08:11:00     790  Quentin
26  2011-10-12 09:57:00     799   Mike M
27  2011-10-12 10:06:00     805   Sergio
28  2011-10-12 12:01:00     818   Mike M
29  2011-10-12 12:30:00     819  Quentin
..                  ...     ...      ...
641 2013-01-28 10:43:00     NaN   Sergio
642 2013-01-28 13:13:00     NaN  Quentin
643 2013-01-28 14:01:00   16195  Quentin
644 2013-01-29 13:43:00   16237  Quentin
645 2013-01-29 15:06:00   16257  Quentin
646 2013-02-04 13:25:00   16513   Sergio
647 2013-02-06 17:33:00   16659  Quentin
648 2013-02-07 13:30:00   16714   Sergio
649 2013-02-12 08:36:00   16891   Sergio
650 2013-02-12 11:39:00   16909  Quentin
651 2013-02-13 13:58:00   16977  Quentin
652 2013-02-16 11:55:00   17104  Quentin
653 2013-02-18 12:04:00     NaN  Quentin
654 2013-02-18 13:46:00   17165  Quentin
655 2013-02-21 13:44:00   17345  Quentin
656 2013-02-21 15:02:00   17354  Quentin
657 2013-02-25 13:33:00   17468  Quentin
658 2013-02-25 17:25:00   17489  Quentin
659 2013-02-27 09:33:00   17564  Quentin
660 2013-03-04 10:46:00   17789   Sergio
661 2013-03-04 11:12:00   17793  Quentin
662 2013-03-04 16:43:00   17824  Quentin
663 2013-03-05 10:42:00   17852  Quentin
664 2013-03-05 13:29:00   17868  Quentin
665 2013-03-08 10:28:00   18062  Quentin
666 2013-03-12 08:28:00   18235   Sergio
667 2013-04-05 11:20:00   18942   Sergio
668 2013-04-27 11:04:00   19698   Sergio
669 2013-09-12 15:38:00   24450  Quentin
670 2013-09-13 10:28:00   24463  Quentin

[671 rows x 3 columns]

In [100]:
from datetime import timedelta, date
boop = pd.DataFrame({"date": pd.date_range(df.loc[0, "timestamp"] - timedelta(days=17), "2013-05-10")})
boop["status"] = "OK"
boop.index = pd.to_datetime(boop.date)
boop.loc["2011-12-13":"2011-12-19", "status"] = "BROKEN"
boop.loc["2012-03-12":"2012-04-04", "status"] = "BROKEN"
boop.loc["2012-04-11":"2012-04-26", "status"] = "BROKEN"
boop.loc["2012-12-21":"2013-01-08", "status"] = "BROKEN"

In [135]:
boop[["date", "status"]].to_csv("coffee_status.csv")